$black: #1C1C1C;
$white: #ffffff;
$blue: #E3F5FF;
$lightBlue: #F7F9FB;
$purple: #E5ECF6;
$lightPurple: #F7F9FB; 

:root{
    --blue: #E3F5FF;
    --lightBlue: #F7F9FB;
    --purple: #E5ECF6;
    --lightPurple: #F7F9FB; 
}