<div class="master-div">
  <div class="navbar-div col-2">
    <app-sidebar [selectedtab]="selectedtab" [currentTheme]="currentTheme" (selectedtabChange)="selectedtabChange($event)"></app-sidebar>
  </div>
  <div class="dashboard-div col-8">
    <app-dashboard [selectedtab]="selectedtab" (themechanges)="themechanges($event)"></app-dashboard>
  </div>
  <div class="notification-div col-2">
    <app-notifications [currentTheme]="currentTheme"></app-notifications>
  </div>

</div>


<router-outlet></router-outlet>
