@import '../../styles/variables.scss';

.top-section{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($black, 0.1);
    padding: 1rem;
    .breadcrumb-section{
        display: flex;
        i{
            padding: 0 1rem 0 0;
            cursor: pointer;
        }
        div{
            padding: 0 1rem 0 0;
        }
    }
    .search-section{
        display: flex;
        i{
            padding: 0 1rem 0 0;
            cursor: pointer;
        }
        div{
            display: flex;
            align-items: center;
            color: rgba($black, 0.2);
            i{
                font-size: 16px;
                left: 0.5rem;
            }
            input{
                background-color: rgba($black, 0.05);
                border-radius: 8px;
                margin: 0 1rem 0 0;
                border: none;
                padding: 0.2rem 0.2rem 0.2rem 2rem;
                &:focus{
                    outline: none;
                }
                // outline: 2px solid rgba($black, 0.1);
        }
        span{
            font-size: 16px;
            right: 1.5rem;
        }
        }

    }
}
.mid-section{
    padding: 1.5rem;
}
.table-div{
    table{
        width: -webkit-fill-available;
        font-size: 12px;
        th{
            padding: 0.5rem;
            color: rgba(#1C1C1C, 0.4);
            border-bottom: 1px solid rgba($black, 0.4);
        }
        td{
            padding: 0.5rem;
        }
    }
}

.card-header{
    font-size: 14px;
    font-weight: 600;
}

.legend-pie{
    .legend{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .legend-color{
        display: inline-block;
        height: 5px;
        width: 5px;
        border-radius: 20px;
        margin-right: 0.5rem;
  }
    }

}