<div class="p-4">
    <div class="notifications-container">
        <div class="header-text">Notifications</div>
        <div class="d-flex pb-2" *ngFor="let item of notifications">
            <div class="icon" [ngClass]="{'grey-back': item.icon!= 'bi bi-bug'}"><i style="color:black" class="{{item.icon}}"></i></div>
            <div class="overflow-hidden">
                <div class="title">{{item.title}}</div>
                <div class="time" [ngClass]="{'dark': currentTheme=='dark'}">{{item.time}}</div>
            </div>
        </div>
    </div>

        <div class="activities-container">
        <div class="header-text">Notifications</div>
        <div class="d-flex pb-2" *ngFor="let item of activities">
            <div><img src="{{item?.imageSrc}}"></div>
            <div class="overflow-hidden">
                <div class="title">{{item?.title}}</div>
                <div class="time">{{item?.time}}</div>
            </div>
        </div>
    </div>


    <div class="contacts-container">
        <div class="header-text">Notifications</div>
        <div class="d-flex pb-2" *ngFor="let item of contacts">
            <div><img src="{{item?.img}}"></div>
            <div class="overflow-hidden">
                <div class="title">{{item?.name}}</div>
            </div>
        </div>
    </div>
</div>